{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
{% if form_errors(form) %}
    <div class="alert alert-danger">
        {{ form_errors(form) }}
    </div>
{% endif %}

<div>
    {{ form_label(form.title, 'Please enter the title') }}
</div>
<div>
    {{ form_widget(form.title, {'attr': {'style': 'color: gray'}}) }}
</div>

<div>
    {{ form_label(form.text, 'Please enter the post text') }}
</div>
<div>
    {{ form_widget(form.text,{'attr': {'style': 'color: gray'}})}}
</div>

<div>
    <button style="color: #3b82f6" type="submit">Save!</button>
</div>
{{ form_end(form) }}